.appui-vcs-project {
  .appui-vcs-project-router {
    .bbn-tabs {
      .bbn-tabs-tabs {
        background-color: var(--default-background) !important;
        padding: 1rem !important;
        > li {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 3.5rem !important;
          width: 3.5rem !important;
          border: 0 !important;
          background-color: var(--alt-background) !important;
          color: var(--alt-text) !important;
          border-radius:0.4rem !important;
          padding: 0.5rem !important;
          margin-bottom: 1rem !important;
          &.bbn-tabs-active {
            background-color: var(--primary-background) !important;
            color: var(--primary-text) !important;
          }
          .bbn-router-tab-menu {
            display: none;
          }
          .bbn-tabs-selected {
            display: none;
          }
          .bbn-tabs-tab {
            padding: 0 !important;
            &::before {
              display: none;
            }
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}