.appui-vcs-project-branches {
  .bbn-table {
    .bbn-scroll-container {
      border-bottom-right-radius: var(--default-border-radius);
      border-bottom-left-radius: var(--default-border-radius);
    }
    td {
      vertical-align: middle;
    }
  }
}