.appui-vcs-project-issues-issue {
  .appui-vcs-project-issues-issue-description {
    word-break: break-word;
    white-space: pre-line;
    font-family: inherit;
    font-size: inherit;
    max-height: 600px;
    overflow: hidden;
    margin-bottom: 0;
  }
}