.appui-vcs-project-issues {
  .appui-vcs-project-issues-img {
    display: block;
    clear: both;
    margin: 1rem 0;
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
  }
  .bbn-radiobuttons > button.bbn-button:first-of-type {
    border-radius: var(--default-border-radius) 0 0 var(--default-border-radius) !important;
  }
  .bbn-kanban {
    .bbn-kanban-pager-container {
      padding: var(--sspace);
      padding-top: 0;
    }
    .bbn-pager {
      border: 0;
      border-radius: var(--default-border-radius);
      .bbn-button {
        border: 0;
      }
      .bbn-numeric {
        border: 0;
      }
    }
  }
}