.appui-vcs-project-issues-comments {
  .appui-vcs-project-issues-comments-img {
    display: block;
    clear: both;
    margin: 1rem 0;
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
  }
  .appui-vcs-project-issues-comments-comment-text {
    word-break: break-word;
    white-space: pre-line;
    font-family: inherit;
    font-size: inherit;
  }
  .appui-vcs-project-issues-comments-capitalize::first-letter {
    text-transform: capitalize;
  }
  .appui-vcs-project-issues-comments-editor {
    .bbn-rte {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}